{% extends 'template.html' %}

{% block content %}
<h1>Google maps screenshots toevoegen</h1>

<form action="/submit" method="post">
    <div class="mb-2">
        <label for="name" class="form-label">Project naam:</label>
        <input name="name" id="name" type="text" required class="form-control">
    </div>

    <div class="row g-3 mb-2">
        <div class="col">
            <label for="latitude" class="form-label">Breedtegraad (°N):</label>
            <input name="latitude" id="latitude" type="text" inputmode="numeric" required class="form-control">
        </div>
        <div class="col">
            <label for="longitude" class="form-label">Lengtegraad (°E):</label>
            <input name="longitude" id="longitude" type="text" inputmode="numeric" required class="form-control">
        </div>
    </div>

    <div class="mb-2">
        <label for="zoom" class="form-label">Zoomniveau:</label>
        <input name="zoom" id="zoom" type="text" inputmode="numeric" required class="form-control">
    </div>

    <div class="mb-2">
        <label for="interval" class="form-label">Interval in minuten tussen screenshots:</label>
        <input name="interval" id="interval" type="text" inputmode="numeric" required class="form-control">
    </div>

    <div id="container">
    <div class="row g-3 mb-1">
        <div class="col">
            <label class="form-label">Start moment(en):</label>
            <input name="start_datetime[]" type="datetime-local" required class="form-control">
        </div>
        <div class="col">
            <label class="form-label">Einde moment(en):</label>
            <input name="end_datetime[]" type="datetime-local" required class="form-control">
        </div>

    </div>
    </div>
    <div class="d-flex justify-content-between">
        <div><button type="button" class="btn btn-success mt-3 p-2" onclick="addField()">Extra moment toevoegen</button></div>
        <div><button type="submit" class="btn btn-primary mt-3 ml-auto p-2">Plan de screenshot taak</button></div>
    </div>

</form>
</br>
<h3>Opslagruimte:</h3>
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: {{ pct }}%" aria-valuenow="{{ disk_used }}" aria-valuemin="0" aria-valuemax="{{ disk_total }}">{{ disk_used }}GB/{{ disk_total }}GB</div>
</div>
</br>
<h3>Reeds geplande:</h3>
<div>
<table class="table table-striped table-hover">
    <thead><tr>
        <th>Naam</th>
        <th>Breedtegraad</th>
        <th>Lengtegraad</th>
        <th>Zoomniveau</th>
        <th>Interval</th>
        <th>Start</th>
        <th>Einde</th>
    </tr></thead>
    <tbody>
    {% for row in planned_tasks %}
        <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.latitude }}</td>
        <td>{{ row.longitude }}</td>
        <td>{{ row.zoom }}</td>
        <td>{{ row.interval }} min</td>
        <td>{{ row.start_datetime[0] }}</td>
        <td>{{ row.end_datetime[0] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<script src="{{url_for('static', filename='form.js')}}"></script>
{% endblock %}